<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New comment</title>
</head>
<body>

<form th:method="POST" th:action="@{/comment/create/{paintingId}(paintingId=${paintingId})}" th:object="${newComment}">
    <label for="text">Enter text of comment </label>
    <input type="text" th:field="*{text}" id="text"/>
    <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name error</div>

    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>