<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
</head>
<body>
    <ul>
        <div th:each="author : ${authorList}">
            <li>
                <a th:href="@{/author/{id}(id=${author.getId()})}"
                   th:text="${author.getFirstName() +' '+ author.getLastName()}">user</a>
            </li>
        </div>
    </ul>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a href="/author/new">ADD NEW AUTHOR</a>
        </p>
    </div>

</body>
</html>