<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New author</title>
</head>
<body>

<form th:method="POST" th:action="@{/author/create}" th:object="${newAuthor}">

    <label for="firstName">Enter first name for author </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
         th:errors="*{firstName}">first name error</div>
    <br/>

    <label for="lastName">Enter last name for author  </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
         th:errors="*{lastName}">last name error</div>
    <br/>

    <label for="email">Enter email here</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}">email error</div>
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>