<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New painting</title>
</head>
<body>

<p>IF AUTHOR IS NOT REPRESENTED IN DATABASE THEN CREATE HIM FIRSTLY</p>
<p><a href="/author/create">CREATE AUTHOR</a></p>


<form th:method="POST" th:action="@{/painting/create/{authorId}(authorId=${authorId})}" th:object="${newPainting}">

    <label for="title">Enter title </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}"
         th:errors="*{title}">first name error</div>
    <br/>

    <label for="information">Enter information </label>
    <input type="text" th:field="*{information}" id="information"/>
    <div style="color:red" th:if="${#fields.hasErrors('information')}"
         th:errors="*{information}">last name error</div>
    <br/>

    <label for="bestPrice">Enter your price </label>
    <input type="text" th:field="*{bestPrice}" id="bestPrice"/>
    <div style="color:red" th:if="${#fields.hasErrors('bestPrice')}"
         th:errors="*{bestPrice}">price starts from 500</div>
    <br/>

    <!--<label for="image">Enter image </label>
    <input type="file" th:field="*{image}" id="image"/>
    <div style="color:red" th:if="${#fields.hasErrors('image')}"
         th:errors="*{image}">image</div>-->
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>