<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All paintings</title>
    <link rel="stylesheet" th:href="@{/static/css/paintingList.css}" />
</head>
<body>
    <div th:each="painting:${paintingList}">
        <a th:href="@{/painting/{id}(id=${painting.getId()})}"
           th:text="${painting.getTitle()}">title</a>

        <p>
            <i th:text="${painting.getAuthor().getFirstName()} + ' '
            + ${painting.getAuthor().getLastName()}">author</i>
        </p>

        <img th:src="@{'/static/images/' + ${painting.getTitle().toLowerCase()} + '.jpg'}"/>

        <p th:text="'HIGHEST OFFER ' + ${painting.getBestPrice()}"></p>
        <br/>
    </div>

    <a th:href="@{/logout}">Log Out</a>
</body>
</html>